.wrapper-text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.next-btn-text {
  font-size: 1em;
}
.icon-next {
  font-size: 1.5em;
  margin-left: 5px;
}

/* _______________________ */

.next-btn-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 20rem;
  overflow: hidden;
  position: fixed;
  opacity: 0.1;
  background-color: var(--next-btn-backgroundColor);
  color: var(--btnTextColor);
  border: none;
  font-weight: 400;
  font-size: 1em;
  cursor: not-allowed;
}
.next-btn {
  opacity: 1;
  padding: 0;
  border-radius: 20px;
}
.next-btn-hover:hover {
  box-shadow: var(--next-btn-hover-shadow);
  transform: translateY(-2px);
  opacity: 1;
  transition: transform 0.2s ease-in-out;
}

.next-btn-active {
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--btnColor);
  cursor: pointer;
  color: #fff;
  border: none;
  animation: next-btn-active 2s;
  transition: width 0.3s ease-in-out;
}

.next-btn-back {
  position: absolute;
  opacity: 1;
  z-index: -1;
  background-color: var(--btnColor);
  color: var(--btnTextColor);
  left: 0;
  border: none;
  transition: width 0.3s ease-in-out;
  animation: next-btn-back 2s forwards;
}
