

.game-section {
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}
.main-container {
  display: inherit;
}
.spiel-feld-container {
  width: 570px;
}

.box-wrapper {
  flex-grow: 1;
  padding: 0 1.5rem;
  flex-basis: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 15px;
  color: var(--headerColor);
}



/* ------------ Btn ---------------- */
.delete-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

button {
  cursor: pointer;
}

.btn-feld {
  padding: 1rem 1.5rem;
}
.nextBtn {
  height: 75px;
}
.zufall {
}
